.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .auth-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .auth-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .input-container .icon {
    margin-right: 10px;
    color: #888;
  }
  
  .input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .auth-button {
    width: 100%;
    padding: 10px;
    background-color: #ff003c;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .auth-button:hover {
    background-color: #0056b3;
    text-decoration: none;
  }
  
  .auth-box p {
    margin-top: 15px;
  }
  
  .auth-box a {
    color: #ff0000;

  }
  
  .auth-box a:hover {
    text-decoration: underline;
  }